
*{
    
    box-sizing: border-box;
    text-decoration: none; 
}
    
body{
    background-color: #7b1411;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 80px;
}

h4{
    font-size: 30px;
}

ul{list-style: none;}

header{ 
    background-color: 7b1411;
    width: 100%;
}

iframe{
    width: 700px;
    height: 200px;
    margin: 20px 20px;
}


/*NAVEGACION INDEX*/

.boton-menu{
    
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid #7b1411;
    box-shadow: 3px 2px 7px #7b1411;
    background-color:white;

} 

.boton-menu a{
    text-decoration: none;
    color: #7b1411;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}


/*SECION PRINCIPAL*/

#section-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/fondo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    
    
}

#section-principal h1{
    font-family:unset;
    text-shadow: 1px 3px 1px #7b1411;
    margin: 0;
    color: lightyellow;  
    animation: lamiglioreh1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes lamiglioreh1{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(.3);
    }
    40%{
        transform: scale(.6);
    }
    60%{
        transform: scale(.9);
    }
    80%{
        transform: scale(1);
    }
}

#section-principal p{
    text-shadow: 1px 1px 1px #7b1411;
    color: lightyellow;
    margin: 20px 20px;
    font-size: x-large;
}


/*SECTION BEBIDAS*/ 
.carousel-item img{
    width: 150px;
}

.section-bebidas{
    background-color: #7b1411;
    width: 100%;
    display: flex;
}

.contenedor{
    display: flex;
   align-items: center;
   flex-direction: row;
   padding: 50px;
   margin: 10px 60px;

}

.contenedor img{
    width: 300px;
    height: 300px;
    margin: 0px 30px;
    border: 2px solid white;
    box-shadow: 2px 1px 5px white;
    transition: all 300ms;
    
}

.contenedor img:hover{
    transform: scale(1.15);
}

/*SECION SPECIAL*/

#section-speciale{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image:url(../img/fondo66.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
 }

.contenedor-parrafo-speciale{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    width: 500px;
    height: 350px;
    margin: 0 60px;
    background-color:rgb(32, 32, 32);
    box-shadow: 2px 1px 8px white ;
}

#section-speciale h2{
    text-shadow: 1px 4px 4px #01033e;
    color: lightyellow;
    height: 50px;
    animation: lamiglioreh1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes lamiglioreh1{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(.3);
    }
    40%{
        transform: scale(.6);
    }
    60%{
        transform: scale(.9);
    }
    80%{
        transform: scale(1);
    }
}

#section-speciale p{
    text-shadow: 1px 2px 2px #01033e;
    color: white;
    margin: 20px 20px;
    font-size: x-large;
  
}

/*FOOTER*/

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    margin: 0;
    height: 110px;
    padding: 5px;
    position: relative;

}

#footer p{
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;

}

#boton-speciale{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #7b1411;
    background-color: white;
    
}

#boton-speciale a{
    color: #7b1411;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    text-decoration: none;
}
/*FIN DE FOOTER*/
    
/* FIN DEL INDEX */ 

/*EMPIEZA EL MENU */ /*EMPIEZA EL MENU */ /*EMPIEZA EL MENU */ /*EMPIEZA EL MENU */ /*EMPIEZA EL MENU */


#body-menu{
    background-image: url(../img/fondo33.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    position: relative;
}

.carta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta h1{
    color: lightyellow;
    text-shadow: 1px 4px 5px gray;
    
}

.section-menu{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 85%;
    margin: 20px  auto;
    transition: all 300ms;
}
/*Animacion menu*/ 

.section-menu .muza:hover{
    transform: scale(1.15);
}
.section-menu .marga:hover{
    transform: scale(1.15);
}
.section-menu .portu:hover{
    transform: scale(1.15);
}
.section-menu .carbo:hover{
    transform: scale(1.15);
}
.section-menu .casa:hover{
    transform: scale(1.15);
}
.section-menu .quesos:hover{
    transform: scale(1.15);
}



.muza{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/MUU.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;
}

.muza h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px #7b1411;
    

}

.muza p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px brown;

}

.marga{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/marga.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;
}

.marga h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    

}

.marga p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px brown;

}

.portu{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/portuga.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;
}

.portu h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px #7b1411;
    

}

.portu p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px brown;

}

.carbo{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/carbonara.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;

}
.carbo h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px #7b1411;
    

}

.carbo p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;

}

.quesos{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/pizza-4-quesos.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;
}
.quesos h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px #7b1411;
    

}

.quesos p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;

}

.casa{
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-image: url(../img/delacasa.png);
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 1px 5px white;
}

.casa h4{
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px #7b1411;
    

}

.casa p{
    font-size: larger;
    margin: 0;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;

}
/*TERMINA MENU*/ /*TERMINA MENU*/ /*TERMINA MENU*/  /*TERMINA MENU*/  

/*SECTION FORMULARIO-CONTACTO*/ /*SECTION FORMULARIO-CONTACTO*/ /*SECTION FORMULARIO-CONTACTO*/ 


#section-form{
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    background-image: url(../img/eee.png);
    background-repeat: repeat-x;
    background-size: auto;
    background-position: center top;
}

.formulario-contacto{
    width: 500px;
    height: 400px;
    margin: 0px 40px;
    border-radius: 3px;
}

.form-contenedor{
    padding: 40px;
}

.form-contenedor p{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
}

.form-tablas{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;  
}

.form-boton{
    margin: 30px 110px;
    width: 200px;
    height: 30px;
    background: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;   
}

.form-contenedor p{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
/*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/


.parrafo-form-img img{
    margin: 0 10px;
}


.parrafo-form p{
    font-size: large;
    color: white;   
}

.parrafo-form h4{
    color: white;
    font-family: cursive;
    text-shadow: 0px 1px 2px black;
    animation: lamiglioreh1;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}
@keyframes lamiglioreh1{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(.3);
    }
    40%{
        transform: scale(.6);
    }
    60%{
        transform: scale(.9);
    }
    80%{
        transform: scale(1);
    }
}

.parrafo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 110px 10px;
    height: 200px;
    padding: 40px;
}

#body-contacto{
    background-color: lightyellow;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}


/*SECION INFO*/ /*SECION INFO*/ /*SECION INFO*/ /*SECION INFO*/ 

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    margin:0;
    height: 110px;
    padding: 5px;
    position: relative;

}

.footer-info p{
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ubicacion-info p{
    color: #7b1411;
    font-size: x-large;
    font-family: cursive;
    text-shadow: 1px 1px black
}


.horarios-info h4{
    animation: lamiglioreh1;
    animation-duration: 2s;
    animation-iteration-count: infinite;  
}

.horarios-info h4 strong{
    color: #7b1411;
    font-family: cursive;
    margin:0;
    text-shadow: 2px 2px 1px black;
}
.horarios-info p{
    margin: 20px 0;
}
.horarios-info{
    display: contents;
}


.parrafo-info p{
    margin: 20px 20px;
    color: white;
    text-shadow: 1px 1px black;
    font-size: large;

}

.parrafo-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-info  h1{
    font-family: cursive;
    color: #7b1411;
    text-shadow: 2px 12px 10px black;
}
.contenedor-info h4{
    color: #B23531;
}

.contenedor-img-info img{
    height: 114vh;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
}

.contenedor-info{
    display: flex;
    background-image: url(../img/fff.png);
    background-repeat: no-repeat;
    background-position:unset;
    background-size: cover;
   
}


#body-info{
    height: 100vh;
    background-color: lightyellow;
}
/*SECION INFO*//*SECION INFO*//*SECION INFO*//*SECION INFO*/


/*SECION ENTREGA */

.footer-delivery{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin:20px 0;
    width: 100%;
    height: 110px;
    padding: 5px;

}


.body-delivery{
    position: relative;
    background-color: lightyellow;
}

.section-delivery h2{
    color: #7b1411;
    margin: 0 20px;
}

.section-delivery{
    margin: 0 60px;
}

.main-delivery h1{
    color: #7b1411;
}

.main-delivery h1 span
    color: #7b1411;
    animation: h1-delivery 3s;
    animation-iteration-count: infinite;
}
@keyframes h1-delivery {
    0%{
        color: black;
    }
    50%{
        color: #7b1411;
    }
    100%{
        color: green;
    }
}



.main-delivery{
    display: flex;
    text-align: center;
    margin: 30px 0;
}

.contenedor-info-delivery{
    margin: 0 20px;
}

.contenedor-info-delivery img{
    margin: 0 20px;
    border: 1px solid #7b1411;
}




/*RESPONSIVE*/ /*RESPONSIVE*/ /*RESPONSIVE*/ /*RESPONSIVE*/


/*MENU RESPONSIVE*/ /*MENU RESPONSIVE*/ /*MENU RESPONSIVE*/ /*MENU RESPONSIVE*/ 

@media screen and (max-width:1200px) {
    #section-principal{
        width: 1240px;
    }

    #section-speciale{
        width: 1240px;
    }

    #section-bebidas{
        width: 1240px;
    }

    #footer{
        width: 1240px;
    }

    #body-menu{
        width: 1240px;
    }

    #body-contacto{
        height: 1000px;
    }

}

@media screen and (max-width:768px){
    #section-principal{
        width: 820px;
    }

    .contenedor{
        padding: 10px;
        margin: 10px 10px;
    }
    .contenedor img{
        width: 200px;
        height: 200px;
    }

    #section-bebidas{
        height: 80vh;
    }


    #section-speciale{
        width: 820px;
    }

    #footer{
        width: 820px;
    }

    #body-menu{
        width: 800px;
    }

    .muza{
        width: 300px;
        height: 300px;
    }
    .marga{
        width: 300px;
        height: 300px;
    } 
    .portu{
        width: 300px;
        height: 300px;
    }
    .carbo{
        width: 300px;
        height: 300px;
    }
    .quesos{
        width: 300px;
        height: 300px;
    }

    .casa{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:480px) {
    .contenedor{
        padding: 0;
        margin: 20px 20px;
    }
}



@media screen and (max-width:320px) {
    #body-menu{
        position: relative;
        width: 800px;
        height: 1550px;
    }


    #body-contacto{
        height: 1525px;
    }

}




/* RESPONSIVE INFO */ /* RESPONSIVE INFO */  /* RESPONSIVE INFO */  

@media screen and (max-width:1200px){

    .contenedor-img-info img{
        width: 400px;
        height: 700px;
    }

    #body-info{
        width: 1200px;
    }
}



@media screen and (max-width:768px){
    .contenedor-info{
        width: 770px;
    }
    .parrafo-info{
        width: 400px;
    }
    .parrafo-info h1{
        margin:0px 10px;
        font-size: xx-large;
    }
    .parrafo-info p{
        margin: 5px;
        font-size: medium;
    }

    .contenedor-img-info img{
        height: 500px;
        width: 330px;
    }

    .contenedor-img-info{
        height: 500px;
        width: 500px;
    }

    iframe{
        width: 400px;
    }
    
    #body-info{
        width: 770px;
    }
}


@media screen and (max-width:480px){
 .contenedor-info{
    width: 480px;
    height: 602px;
}
.parrafo-info{
    width: 250px;
}
.parrafo-info h1{
    color: #7b1411;
   font-size: xx-large;
}
.parrafo-info p{
   font-size: small;
}

.contenedor-img-info img{
   width: 220px;
   height: 540px;
}

.contenedor-img-info{
   width: 300px;
   height: 350px;
}
.horarios-info{
    display: none;
}
iframe{
    display: none;
}

.ubicacion-info p{
    color: #7b1411;
    font-size: small;
}

.footer-info{
    height: 60px;
}

#body-info{
    width: 480px;
}

}



@media screen and (max-width:320px){
    .contenedor-info{
       width: 332px;
    }
    .parrafo-info{
        width: 332px;
    }
    .parrafo-info h1{
       font-size:x-large;
       margin: 10px 0;
    }
    .parrafo-info p{
       font-size: small;
    }
    
    
    .contenedor-img-info{
      display: none;
    }
    
    .footer-info p{
       font-size: x-small;
    }

    #body-info{
        width: 332px;
    }


}


/* RESPONSIVE CONTACTO */ /* RESPONSIVE CONTACTO */ /* RESPONSIVE CONTACTO */ /* RESPONSIVE CONTACTO */ 

    @media screen and (max-width:1200px){
        #body-contacto{
            width: 1240px;
            height: 830px;
        }

        #footer{
            height: 200px;
        }
    }
    
    @media screen and (max-width:768px) {
        #body-contacto{
            width: 780px;
        }

        #section-form{
            height: 600px;

        }

        .parrafo-form{
            margin: 160px 10px;
        }
    }

    @media screen and (max-width:480px){
        #section-form{
            height: 780px;
        }

        #footer{
            width: 780px;
        }

    }


    @media screen and (max-width:480px){

        #section-form{
            height: 900px;
        }

        #footer{
            height: 520px;
        }
    }

